In [1]:
import pandas as pd 

data = pd.read_csv("../data/sample.csv")
data

        fruit   color
0       apple   green
1       apple     red
2       apple    pink
3        pear  yellow
4   pineapple  yellow
5  strawberry     red
6   blueberry    blue

In [15]:
dataSize = data.shape[0]
dataSize

7

In [16]:
from datetime import datetime
datetimeObj = datetime.now()
fruitIndex = datetimeObj.second % dataSize
fruitIndex

6

In [23]:
print('Hello ' + data['fruit'][fruitIndex] + ' have a wonderful ' + data['color'][fruitIndex] + ' day!')

Hello blueberry have a wonderful blue day!